<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="../../static/css/base.css" rel="stylesheet" th:href="@{/css/base.css}" />

    <div th:replace="~{fragments :: head}"></div>

    <header th:replace="~{fragments :: titlePage('Favorites Catalog')}"></header>

    <body>
        <main class="form-floating ">
            <div class="container border border-2 rounded rounded-3 mainBox shadow-lg">
                <div class="row">
                    <form th:action="@{/favorites}" method="post" class="row align-items-center justify-content-center">

                        <div th:replace="~{fragments :: show_username(${username})}"></div>

                        <div th:replace="~{fragments :: formSearch('home', 'Enter a movie genre', 'movieGenre')}"></div>

                    </form>
                </div>
                <div class="row g-4">
                    <div th:if="${movies == null}" class="colorFontOpacity text-center h3 bold underline">
                        <p>Parameter not Founded</p>
                    </div>
                    <div th:each="movie : ${movies}" class="col-4">
                        <div class="movieFavoritesDiv shadow-lg">
                            <img th:src="${movie.posterURL}" class="movieFavoritesImage shadow-lg" alt="">
                            <div th:text="${movie.filmTitle}" class="movieFavoritesTitle shadow-lg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <footer th:replace="~{fragments :: footer}"></footer>

</html>