<main class="login-container d-flex align-items-center justify-content-center vh-100 ">
  <div class="row g-0 rounded-4 shadow-lg overflow-hidden login-card my-3">
    <div class="col-lg-7 d-none d-lg-block">
      <img class="img-fluid h-100 w-100 object-fit-cover" src="/images/absoluteCinema.webp" alt="Cinema Background">
    </div>
    <div class="col-lg-5 bg-white p-4 d-flex flex-column justify-content-center">
      <div class="mb-4 d-flex align-items-center">
        <img class="me-2" src="/icons/iconMovie.png" width="32" height="32" alt="Logo">
        <span class="h5 mb-0 fw-bold text-secondary">Movie Catalog</span>
      </div>

      <h2 class="fw-bold mb-2">Nice to see you again!</h2>

      <form [formGroup]="LoginForm" (submit)="siginUser()">
        <div class="mb-3 text-start">
          <label class="form-label fw-semibold" for="username">Username</label>
          <input formControlName="username" id="username" type="text" class="form-control py-2" placeholder="Enter username" />
          @if (LoginForm.get('username')?.invalid && LoginForm.get('username')?.touched) {
            <small class="text-danger mt-1 d-block">Username is required.</small>
          }
        </div>

        <div class="mb-4 text-start">
          <label for="password" class="form-label fw-semibold">Password</label>
          <input formControlName="password" id="password" type="password" class="form-control py-2" placeholder="Enter password" />
          @if (LoginForm.get('password')?.invalid && LoginForm.get('password')?.touched) {
            <small class="text-danger mt-1 d-block">Password must be 8-12 characters.</small>
          }

          @if (userToken == "Not authenticated") {
            <small class="text-danger mt-1 d-block">Username or password invalid</small>
          }
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2 fw-bold shadow-sm">Sign in</button>

        <div class="divider my-4">Or</div>

        <button type="button" (click)="sendSignupPage()" class="btn btn-outline-secondary w-100 py-2">Sign up</button>
      </form>
    </div>
  </div>
</main>
