.mainBox{
  background-color: #E5EAF5;
  border: 1px solid #420E5B;
  padding-bottom: 1%;
}

.imageFourtypx{
  opacity: 0.5;
  width: 40px;
  height: 40px;
}

.searchBarCarac{
  background-color: #FFFFFF;
  color: #6610F2;
  font-weight: bolder;
  margin-left: 20px;
  border-color: #6610F2;
  text-transform: capitalize;
}

.imageMovieInfo{
  opacity: 0.5;
  width: 20px;
  height: 20px;
}

.capitalizeText{
  text-transform: capitalize;
}

.movieImagePoster{
  height: 265px;
  width: 200px;
  border-radius: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #E5EAF5;
  padding: 2% 2% 2% 2%;

}

.movieImageDiv{
  width: 220px;
  text-align: center;
  border-radius: 20px;
  background-color: #E5EAF5;
  margin-right: 5%;
}

.movieInfo{
  margin: 2% 2% 2%;
  text-transform: capitalize;
}

.boxTitleMovie{
  font-weight: bolder;
  font-size: 32px;
  padding-bottom: 1%;
}

.moviePlot{
  padding:2% 2% 2% 8%;
  background-color: #E5EAF5;
  border-radius: 20px;
}
