
<app-header></app-header>

<main class="form-floating">
    <div class="container border border-2 rounded rounded-3 mainBox shadow-lg">
        <div class="row">

            <form [formGroup]="MovieForm" (submit)="searchMovie()" method="post" class="row align-items-center justify-content-center my-3">
              <div class="col text-center">
                  <img class="imageFourtypx" src="../../../..//public/icons/iconTitleMovie.png" alt="">
                  <label>
                      <input formControlName="title" id="title" name="title" type="text" placeholder="Enter a movie title" class="searchBarCarac btn btn-outline-light shadow-lg"/>
                  </label>
                  <button class="btn btn-outline-light searchBarCarac shadow-lg" type="submit">Search</button>
                  <button class="btn btn-outline-ligh searchBarCarac shadow-lg" type="button" (click)="favoritesPage()">Favorites</button>
              </div>
            </form>

            <div class="row">
                <div class="col">
                    <p class="boxTitleMovie opacity-75 text-center">Movie Info</p>
                    <ul class="border border-2 rounded text-start shadow-lg h5 movieInfo opacity-75">
                        <li>
                            <img class="imageMovieInfo" src="../../../..//public/icons/iconTitleMovie.png" alt=""/>
                            Title: {{movie?.Title}}
                        </li>
                        <li>
                            <img class="imageMovieInfo" src="../../../..//public/icons/iconDate.png" alt=""/>
                            Year: {{movie?.Year}}
                        </li>
                        <li>
                            <img class="imageMovieInfo" src="../../../..//public/icons/iconTheater.png" alt=""/>
                            Genres: {{movie?.Genre}}
                        </li>
                        <li>
                            <img class="imageMovieInfo" src="../../../..//public/icons/iconTv.png" alt=""/>
                            Type: {{movie?.Type}}
                        </li>
                        <li>
                            <img class="imageMovieInfo" src="../../../..//public/icons/iconMap.png" alt=""/>
                            Country: {{movie?.Country}}
                        </li>
                        <li>
                            <img class="imageMovieInfo" src="../../../..//public/icons/iconStart.png" alt=""/>
                            Rating: <span class="opacity-50">{{movie?.Rating}}</span>
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <p class="boxTitleMovie opacity-75">Movie / Series</p>

                    <div class="movieInfo row">

                        <div class="col movieImageDiv shadow-lg">
                            <img class="movieImagePoster" src="{{movie?.Poster}}" alt="">
                        </div>
                        <div class="col moviePlot shadow-lg">
                            <p class="h4 opacity-50 boxTitleMovie">Plot</p>
                            <span class="h6 opacity-50">{{movie?.Plot}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>
