<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="UTF-8">
        <link rel="icon" type="image/x.png" th:href="@{/images/icons/head_icon.png}" />
        <title>Movie Catalog</title>
    </head> Head title

    <header th:fragment="titlePage(title)">
        <div class="headerSite shadow-lg">
            <img th:src="@{/images/icons/head_icon.png}" alt="" class="imageFourtypx">
            <span class="colorFontOpacity" th:text="${title}">Default Title</span>
        </div>
    </header> Title Page

    <div th:fragment="formSearch(pageName, placehold, varNameReturned)" class="col text-center">
        <span>
            <img class="imageFourtypx" th:src="@{/images/icons/title_movie_search.png}" alt="">
            <label>
                <input type="text" th:name="${varNameReturned}" th:placeholder="${placehold}"  class="searchBarCarac btn btn-outline-light shadow-lg"/>
            </label>
            <button class="btn btn-outline-light searchBarCarac shadow-lg" type="submit">Search</button>
            <a class="btn btn-outline-ligh searchBarCarac shadow-lg" th:href="@{${pageName}}" th:text="${pageName}"></a>
        </span>
    </div> Form Base

    <span th:fragment="show_username(username)" class="col-3 colorFontOpacity h3 show-username shadow-lg fw-bolder pb-2">User:  <span th:text="${username}" class="h4 "></span></span>

    <footer class="container " th:fragment="footer">
        <div class="row shadow-lg">
            <div class="col footerSite">
                <p class="colorFontOpacity">Web App made for Educational Purposes</p>
            </div>

            <div class="col footerSite">
                <p class="colorFontOpacity">By Christian Pereira</p>
            </div>
        </div>
    </footer> Footer page
</html>